.container {
    display: flex;
    flex-wrap: wrap;
  }
h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-color: #E6E6FA;
    margin: 0 0 0 0;
    font-size: 1.5rem;
    color: white;
  }


p {
    text-align: center;
}

img{
    width: 100%;

}
.card-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    margin: auto;
}
.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    background-size: cover;
}
.card:nth-child(2n) h1 {
    background-color: #E6E6FA;
}

.card:nth-child(4n) h1 {
    background-color: #E6E6FA;
}

.card:nth-child(5n) h1 {
    background-color: #E6E6FA;
}
.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
